body{
    background-color: rgb(255, 255, 255);
}
.wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10%;
    flex-wrap: wrap;
    flex-grow: 3;
}

img{
    width:270px;
    height:250px;
}
.product1{
    background-color: rgb(237, 255, 251);
    max-width: 270px;
    margin-top:70px;
    box-shadow: 2px 4px 15px black;
    padding: 10px;
}
.info{
    margin-left:10px;
}
.info p{
    font-size:20px;
}

button{
    font-size: 17px;
    padding:10px;
    background-color: aqua;
    border:none;
    width:200px;
    transition: all 1s ease;
    margin-left: 20px;
    margin-right:auto;
    cursor: pointer;
}
button:hover{
    scale:1.1;
    font-size: 17px;
}
a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}